.content-columns {
    border: 2px solid black;
    text-align:center;
}

.input-group,
.input-btn {
    margin-left: auto;
    margin-right: auto;  
}

.start-btn{
    display:inline-block;
    width: 200px;
    text-align: center;  
}